.form-default {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  margin: auto;
}

.label-default {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.input-default {
  border: var(--cred) solid 3px;
  padding: 8px 4px;
  margin: auto;
  margin-right: 0px;
}

.input-error {
  text-align: right;
  font-size: 13px;
  color: var(--cred);
  margin: 5px 3px 0px 0px;
}

.button-default {
  background: var(--cred);
  color: var(--cclear);
  padding: 12px 25px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 20px;
  margin: 30px auto 0px;
}

.btn-small {
  font-size: 15px;
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}
