.container-login {
  background: white;
  border-radius: 50px;
  width: 80%;
  max-width: 380px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.container-login-flex {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.login-input {
  display: block;
  border: var(--cred) solid 2px;
  padding: 5px;
  margin-top: 7px;
}

.login-label {
  margin-top: 20px;
}

.login-error {
  margin: 0;
  height: 10px;
  padding: 0px;
  display: block;
  font-size: 12px;
  color: var(--cred);
  margin-bottom: 10px;
}

.login-btn {
  display: block;
  background: var(--cred);
  border-radius: 20px;
  color: var(--cclear);
  outline: none;
  border: none;
  font-size: 15px;
  padding: 5px 15px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.login-footer {
  text-align: center;
  margin: 5px;
  margin-top: 10px;
  font-size: 13px;
}

.login-footer-link {
  color: var(--cred);
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.login-footer-link:hover {
  font-weight: bold;
}
