.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 30px;
  overflow-x: auto;
  text-align: center;
}

.navbar-option {
  text-decoration: none;
  color: var(--cclear);
}

.navbar-option:hover {
  text-decoration: underline;
}

.navbar-option:last-child {
  margin: auto;
  margin-right: 0;
}

.navbar-activate {
  text-decoration: underline;
}

.usuario-actual {
  background: var(--cclear);
  border-radius: 4px;
  padding: 4px 20px;
  padding-bottom: 6px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.usuario-actual span {
  font-weight: bold;
}
