.estado-tramite {
  display: block;
  text-align: center;
  font-weight: bold;
}

.Registrado,
.Proceso {
  color: rgb(86, 85, 172);
}

.Aceptado,
.Aprobado {
  color: rgb(52, 155, 66);
}

.Rechazado {
  color: rgb(238, 71, 71);
}

.Archivado {
  color: rgb(95, 93, 93);
}

.fecha-tramite {
  display: block;
  text-align: center;
  font-size: 12px;
}

tbody td {
  white-space: nowrap;
}

.apellidos {
  font-weight: 500;
}

/* Consulta del tramite */

.container-tramite {
  text-align: left;
}

.tramite-subtitle {
  font-weight: bold;
}
