body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--cred);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --cred: #d82f4b;
  --cred2: #fad8de;
  --cclear: #ffffff;
  --cdark: black;
}

.container-main {
  background: var(--cclear);
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 5% 100px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.default-title {
  text-align: center;
  margin: 0 0 30px 0;
  color: var(--cred);
  font-size: 30px;
}

.default-subtitle {
  font-size: 25px;
  margin: 15px 0px;
}

.table-responsive {
  overflow-x: auto;
}

.table-responsive table {
  border-collapse: collapse;
}

.table-responsive th,
.table-responsive td {
  border: 1px solid var(--cdark);
  padding: 5px 10px;
}

.table-responsive th {
  background: var(--cred2);
}

.button-default {
  background: var(--cred);
  color: var(--cclear);
  padding: 12px 25px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 20px;
  display: block;
  margin: 30px auto 0px;
}

.deshabilitar {
  opacity: 0.2;
}
